<nb-layout>
    <nb-layout-header>
        <label class="h5 nav-brand">Shift Order Service</label>
        <span class="subtitle nav-link add-cursor-pointer" routerLink="/home"> Home </span>
        <span class="subtitle nav-link add-cursor-pointer" routerLink="/order-service"> Ordem Serviço </span>
    </nb-layout-header>

        <nb-layout-column class="colored-column-basic">
            <ng-content></ng-content>
        </nb-layout-column>
    
    <nb-layout-footer>Privacy Policy - Copyright © 2021 </nb-layout-footer>
</nb-layout>